<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">

            </div>
            <div class="right">
                <a href={{ url_for('index2') }} class="btnStack ">Home</a>
                <a href={{ url_for('checklist2') }} class="btnStack ">Checklist</a>
                <a href={{ url_for('aboutus2') }} class="btnStack ">About US</a>
                <a href={{ url_for('site2') }} class="btnStack ">Site</a>
                <a href={{ url_for('memberships') }} class="btnStack ">Membership Page</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>
        </nav>
    </div>
    <div id="middleblock">
        <H1>Welcome to my Final Project for the Web Programming Class</H1>
        <p>Well my project is a business webpage. I decided to do this because I could possibly used this to help my
            fathers business. So the website is based on a Rolloff construction
            which basically is company where dumpusters are left off on construction sites. Where people can throw
            constrution materials in it since alot of places dont accept to throw away 4x4s, plywood, brick, and roofing
            to name a few.

        </p>
    <p> So this is what I decided to do my project on.</p>
    </div>

</body>

</html>