<html>

<head>
    <title>Membership</title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                
            </div>
            <div class="right">
                <a href={{ url_for('index2') }} class="btnStack ">Home</a>
				<a href={{ url_for('checklist2') }} class="btnStack ">checklist</a>
				<a href={{ url_for('aboutus2') }} class="btnStack ">About US</a>
                <a href={{ url_for('site2') }} class="btnStack ">Site</a>
				<a href={{ url_for('membership') }} class="btnStack ">Membership Page</a>
				<a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>
        </nav>
    </div>
    <div id="middleblock" >
        <h2> Weclome {{username}}</h2>
        <p>This is the Memebership page </p>
        <p> Hope you are having a goodtime this is the speical access you have</p>
        <P>Price of 10 yard=$250</P>
        <P>Price of 20 yard=$350</P>
        <P>Price of 30 yard=$450</P>
        <P>Price of 40 yard=$500</P>
    </div>
    
    
</body>

</html>