<html>

<head>
    <title>Site</title>
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">

            </div>
            <div class="right">
                <a href={{ url_for('index2') }} class="btnStack ">Home</a>
                <a href={{ url_for('checklist2') }} class="btnStack ">Checklist</a>
                <a href={{ url_for('aboutus2') }} class="btnStack ">About US</a>
                <a href={{ url_for('site2') }} class="btnStack ">Site</a>
                <a href={{ url_for('memberships') }} class="btnStack ">Membership Page</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>
        </nav>
    </div>

    <div class="grid-x">
        <div id=header class="cell small-12 medium-12 large-12 text-right">
            <h1 style="color:red;">CJ Hauling Construction</h1>

        </div>
    </div>
    <div class="grid-x">
        <div id=sidebar class="cell small-12 medium-4 large-4 ">
            <h4>Contact info</h2>
                <p>Phone:770-XXX-XXXX</p>
                <p>Email:cjhauling@gmail.com</p>
                <p>Call or Email for quotes</p>
        </div>
        <div id=body class="cell small-12 medium-8 large-8">
            <h2 style="color:red;">Clean Up with CJ HAULING for you Commercial and Residential needs </h2>
            <img src="/static/mac.jpeg">

        </div>
    </div>
    <div class="grid-x">
        <div id=footer class="cell small-12 medium-12 large-12 ">
                <H3>Dumpster Sizes</H3>
                <H4>10 Yard</H4>
                <img src="/static/10yard.jpeg">
                <H4>20 Yard</H4>
                <img src="/static/20yard.jpeg">
                <H4>30 Yard</H4>
                <img src="/static/30yard.jpeg">
                <H4>40 Yard</H4>
                <img src="/static/40yard.jpeg">
                
                



    </div>

</div>





</body>

</html>